body
{
    /* Временное изображение */
    background: url(./img/temp.jpg);
}

p
{
    margin: 0;
}

header
{
    padding: 1em;
}

header a
{
    color: white;
}

.background
{
    position: absolute;

    width: 100vw;
    height: 100vh;

    background: var(--greenBottom);
    z-index: -1;
}

.container
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    width: 80vw;
    height: 50vh;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    color: white;
}

.container h1
{
    margin-left: 1em;
}

.loginContainer
{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background: var(--grayTop);

    padding: 2%;

    border-radius: 18px;
}



.left
{
    flex-basis: 100%;
}

.left form
{
    display: flex;
    flex-direction: column;

    justify-content: center;
}

.left input
{
    padding: 1rem 0.8rem;
    width: 100%;

    margin-bottom: 1em;

    background-color: var(--brightGray);
    border: none;
    border-radius: 4.5px;
    color: white;

    transition: var(--hovTrans);

}


.left .checkbox
{
    display: flex;

    align-items: baseline;
    justify-content: center;
}

.left .checkbox input
{
    flex-basis: 10%;
    margin: 0;
}

.left .checkbox input[type="checkbox"]
{
    height: 100%;
}


.left input:hover
{
    filter: brightness(1.2);
}

.left form .buttons
{
    display: flex;
    flex-direction: row;  
    justify-content: center;

    margin-top: 1em;
}

.left form .buttons input[type="submit"]
{
    flex-basis: 60%;

    background: var(--greenBrightRight);
}


.left .newaccount
{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.left .newaccount p
{
    padding: 0 0.5rem;
    color: var(--brightestGray);
}

.left .newaccount a
{
    padding: 0 0.5rem;
    color: white;

    transition: var(--hovTrans);
}

.left .newaccount a:hover
{
    color: var(--green);
}

.right
{
    flex-basis: 20%;
    height: 100%;

    text-align: center;
}

.right .signin
{
    
    color: var(--green);

    font-weight: bold;
    font-size: 1.2em;
}

.right .qrcode
{
    width: 100%;
    aspect-ratio: 1;
    background-color: white;

    border-radius: 18px;

    margin: 1em 0;
    overflow: hidden;
}

.right .qrcode img
{
    width: 100%;
}

.right .use
{
    font-size: 0.9em;
}