body
{
    height: 100vh;

    background: url("./img/create-an-account-image.png") center center no-repeat ;
    background-size: cover;
    /* Изображение для фона */
}

p
{
    margin: 0;
}

header
{
    padding: 1em;
}

header a
{
    color: white;
}

/* Фоны */
.background2
{   /*Серый цвет для фона */
    position: absolute;

    width: 100vw;
    height: 100vh;

    background: var(--baseGray);
    filter: opacity(0.7);

    z-index: -1;
}

.background
{
    /*Градиентный зелёный для фона */
    position: absolute;

    width: 100vw;
    height: 100vh;

    background: var(--greenBottom);
    z-index: -1;
}

/* Большой контейнер для всего содержимого */
.container
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    width: 50vw;
    max-width: 800px;

    height: 50vh;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    color: white;
}

.container h1
{
    margin-left: 1em;
}

/* Внутренний контейнер для самой "карточки" */
.loginContainer
{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background: var(--grayTop);

    padding: 2%;

    border-radius: 18px;
}


/* Внутренний контейнер для формы и всего такого */
.left
{
    flex-basis: 100%;
}

.left form
{
    display: flex;
    flex-direction: column;

    justify-content: center;
}

.left input
{
    padding: 1rem 0.8rem;
    width: 100%;

    margin-bottom: 1em;

    background-color: var(--brightGray);
    border: none;
    border-radius: 4.5px;
    color: white;

    transition: var(--hovTrans);

}


.left .checkbox
{
    display: flex;

    align-items: baseline;
    justify-content: center;
}

.left .checkbox input
{
    flex-basis: 10%;
    margin: 0;
}

.left .checkbox input[type="checkbox"]
{
    height: 100%;
}


.left input:hover
{
    filter: brightness(1.2);
}

.left form .buttons
{
    display: flex;
    flex-direction: row;  
    justify-content: center;

    margin-top: 1em;
}

.left form .buttons input[type="submit"]
{
    flex-basis: 60%;
    max-width: 600px;


    background: var(--greenBrightRight);
}