@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

::root
{
    /*Переменные для градиентов и цветов. Кушать вместе с var()*/
    --greenGradientDiag: linear-gradient(from top left to bottom right,#7BC74D,#00000000,#7BC74D);
    --greenGradientRight: linear-gradient(from middle left to middle right,#00000000,#7BC74D);
    --greenGradientBottomRight: linear-gradient(130deg,rgba(0, 0, 0, 0) 0%, rgba(123, 199, 77, 1) 100%);
    --baseGray: #373C43;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}