@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*Lime*/
/*Не трогайте этот файл без нужды!!! Тут базовые параметры будут, которые во всех файлах будут!!*/

:root
{
    /*Переменные для градиентов и цветов. Кушать вместе с var()*/
    --baseGray: #26282d;
    --lightGray: #3a3e46;
    --brightGray: #626975;
    --brightestGray: #acacae;
    --baseWhite: #eeeeee;

    --green: #85c557;
    --brightGreen: #82CA77;

    --red: #bd5450;

    --greenDiag: linear-gradient(to bottom right,rgba(123, 199, 77, 0.3),rgba(0, 0, 0, 0),rgba(123, 199, 77, 0.3));
    --greenLeftRight: linear-gradient(to right,rgba(123, 199, 77, 0.3),rgba(0, 0, 0, 0),rgba(123, 199, 77, 0.3));
    --greenRight: linear-gradient(to right,rgba(0, 0, 0, 0) 50%,rgba(124, 199, 77, 0.3));
    --greenBottomRight: linear-gradient(130deg,rgba(0, 0, 0, 0) 50%, rgba(123, 199, 77, 0.5) 100%);
    --greenBottom: linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%, rgba(123, 199, 77, 0.5) 100%);
    
    --greenBrightRight: linear-gradient(to bottom right, var(--green),var(--brightGreen));


    --grayDiag: linear-gradient(to bottom right, var(--lightGray),var(--baseGray));
    --grayTop: linear-gradient(to bottom, var(--lightGray),var(--baseGray));
   
    /* Стандартный переход для :hover, можно перезаписать локально*/
    
    --hovTrans: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}