@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*Lime*/
/*Не трогайте этот файл без нужды!!! Тут базовые параметры будут, которые во всех файлах будут!!*/

:root
{
    /*Переменные для градиентов и цветов. Кушать вместе с var()*/
    --greenDiag: linear-gradient(from top left to bottom right,#7BC74D,#00000000,#7BC74D);
    --greenLeftRight: linear-gradient(from middle left to middle right,#7BC74D,#00000000,#7BC74D);
    --greenRight: linear-gradient(from middle left to middle right,#00000000,#7BC74D);
    --greenBottomRight: linear-gradient(130deg,rgba(0, 0, 0, 0) 0%, rgba(123, 199, 77, 1) 100%);
    
    --baseGray: #373C43;
    --lightGray: #3a3e46;
    --brightGray: #626975;
    --baseWhite: #eeeeee;
    --green: #85c557;
    --red: #bd5450;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}