body
{
    height: 100vh;

    background: url("./img/create-an-account-image.png") center center no-repeat ;
    background-size: cover;
    /* Изображение для фона */
}

p
{
    margin: 0;
}

header
{
    padding: 1em;
}

header a
{
    color: white;
}

/* Фоны */
.background2
{   /*Серый цвет для фона */
    position: absolute;

    width: 100vw;
    height: 100vh;

    background: var(--baseGray);
    filter: opacity(0.7);

    z-index: -1;
}

.background
{
    /*Градиентный зелёный для фона */
    position: absolute;

    width: 100vw;
    height: 100vh;

    background: var(--greenBottom);
    z-index: -1;
}

/* Большой контейнер для всего содержимого */
.container
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    width: 20vw;
    max-width: 800px;

    height: 50vh;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    color: white;
}

.container h1
{
    margin-left: 1em;
}

/* Внутренний контейнер для самой "карточки" */
.loginContainer
{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background: var(--grayTop);

    padding: 2%;

    border-radius: 18px;
}



.login
{
    flex-basis: 100%;
    text-align: center;
}
