*{box-sizing: border-box;}

@font-face
{
    font-family: 'Roboto';
    src: url(../fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

@font-face
{
    font-family: 'Inter';
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}

body
{
    width: 100%;
    height: 100vh;
    margin: 0;
    color: #EEEEEE;
    background: #222831 linear-gradient(90deg, #00000000, rgba(136, 255, 61, 0.1));
    font-family: 'Roboto';
    position: relative;
    overflow: hidden;
}

nav
{
    width: 100%;
    height: 63px;
    background: linear-gradient(90deg, #373C43, #25282D);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav section
{
    display: flex;
    margin-left: 1%;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

nav section .menu ul
{
    font-size: 16px;
    padding: 0;
    display: flex;
    gap: 40px;
    list-style: none;
}

nav section .menu ul a
{
    color: #EEEEEE;
    text-decoration: none;
}

nav section .menu ul a li
{
    cursor: pointer;
}

nav section .menu ul a li:hover
{
    color: #7BC74D;
}

nav section .search-stroke
{
    width: 500px;
    height: 39px;
    display: flex;
    align-items: center;
    background: #393E46;
    border-radius: 20px;
    padding-left: 15px;
}

nav section .search-stroke img
{
    margin-right: 12px;
    opacity: 75%;
}

nav section .search-stroke input
{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #EEEEEE;
    font-size: 16px;
    padding: 0;
}

nav section .search-stroke input::placeholder
{
    color: rgba(238, 238, 238, 0.75);
    font-size: 16px;
    font-family: 'Roboto';
}

nav section .search-stroke input::-webkit-search-cancel-button
{
    display: none;
}

nav section .logo-icon2
{
    display: flex;
    align-items: center;
    cursor: pointer;
}

nav aside
{
    display: flex;
    margin-right: 1%;
    flex-direction: row;
    gap: 15px;
}

nav aside .nav-icons
{
    display: flex;
    gap: 15px;
    align-items: center;
}

nav aside .nav-icons a
{
    display: flex;
    align-items: center;
}

nav aside .nav-icons svg
{
    stroke: #EEEEEE;
    cursor: pointer;
}

nav aside .nav-icons svg:hover
{
    stroke: #7BC74D;
}

nav aside .nav-buttons
{
    display: flex;
    gap: 15px;
}

nav aside .nav-buttons .Sign-in-button
{
    width: 72px;
    height: 39px;
    color: #EEEEEE;
    background-color: #393E46;
    border: none;
    border-radius: 4.1px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

nav aside .nav-buttons .Sign-in-button:hover
{
    background-color: #61676b;
}

nav aside .nav-buttons .Download-button
{
    width: 97px;
    height: 39px;
    color: #222831;
    background-color: #7BC74D;
    border: none;
    border-radius: 4.1px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

nav aside .nav-buttons .Download-button:hover
{
    color: #EEEEEE;
    background: #95ce6a;
}

main
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .content1
{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .content1 header
{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
}

main .content1 header h1
{
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

main .content1 .wrapper
{
    display: flex;
    flex-direction: row;
}

main .content1 .wrapper section
{
    width: 70%;
}

main .content1 .wrapper section .visualization1 img
{
    width: 100%;
}

main .content1 .wrapper section .visualization2
{
    width: 81%;
    display: flex;
    justify-content: space-between;
}

main .content1 .wrapper section .system-requirements .characteristics
{
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .content1 .wrapper section .system-requirements .characteristics div
{
    display: flex;
    margin: 0;
    gap: 9px;
}

main .content1 .wrapper section .system-requirements .characteristics div p
{
    margin: 0;
}

main .content1 .wrapper section .system-requirements .characteristics p:nth-child(1)
{
    color: rgba(255, 255, 255, 0.7);
}

main .content1 .wrapper section .system-requirements section
{
    width: 50%;
}

main .content1 .wrapper section .system-requirements aside
{
    width: 50%;
}

main .content1 .wrapper hr
{
    width: 1px;
    height: auto;
    background: rgba(238, 238, 238, 0.3);
    border: none;
}

main .content1 .wrapper aside
{
    width: 30%;
}

main .content1 .wrapper aside .visualization3
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .content1 .wrapper aside .visualization3 .text-description
{
    color: #EEEEEE;
}

main .content1 .wrapper aside .visualization3 .detailed-description
{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .content1 .wrapper aside .visualization3 .detailed-description div
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main .content1 .wrapper aside .visualization3 .detailed-description p
{
    margin: 0;
}

main .content1 .wrapper aside .visualization3 .detailed-description p:nth-child(1)
{
    color: rgba(238, 238, 238, 0.8);
}

main .content1 .wrapper aside .visualization3 .detailed-description div:nth-child(1) p:nth-child(2)
{
    color: #7BC74D;
}

main .content1 .wrapper aside .visualization3 .buttons
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 8% 0;
}

main .content1 .wrapper aside .visualization3 .buttons button
{
    width: 47%;
}

main .content1 .wrapper aside .visualization3 .buttons button:nth-child(1)
{
    width: 47%;
    height: 47px;
    color: #222831;
    background-color: #7BC74D;
    border: none;
    border-radius: 4.1px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

main .content1 .wrapper aside .visualization3 .buttons button:nth-child(2)
{
    width: 47%;
    height: 47px;
    color: #EEEEEE;
    background-color: #393E46;
    border: none;
    border-radius: 4.1px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

main .content1 .wrapper aside .visualization3 .age-limit
{
    width: 100%;
    border: 1px solid rgba(238, 238, 238, 0.7);
    border-radius: 7px;
    padding: 3%;
    display: flex;
    align-items: center;
}

main .content1 .wrapper aside .visualization3 .age-limit div
{
    color: #EEEEEE;
    margin-left: 5%;
}

main .content1 .wrapper aside .visualization3 .age-limit div p:nth-child(2)
{
    color: rgba(238, 238, 238, 0.7);
}

main .content2
{
    width: 70%;
    display: flex;
    flex-direction: column;
}

main .content2 .wrapper
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main .content3
{
    width: 70%;
    display: flex;
    flex-direction: column;
}

main .content4
{
    width: 70%;
}

main .content4 .pages-navigation
{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 25px;
}

main .content4 .pages-navigation .numbers
{
    gap: 20px;
}

main .content4 .pages-navigation .previous,
main .content4 .pages-navigation .numbers,
main .content4 .pages-navigation .next
{
    display: flex;
    flex-direction: row;
}

footer
{
    width: 100%;
    height: 270px;
    background: #373C43 linear-gradient(90deg, rgb(123, 199, 77, 0.1), #7cc74d00, rgb(123, 199, 77, 0.1));
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .content
{
    width: 60%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .content section
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .content section .social-media-icons
{
    display: flex;
    gap: 20px;
}

footer .content section .social-media-icons img
{
    cursor: pointer;
}

footer .content section .credits p
{
    margin: 0;
    font-size: 14px;
    opacity: 0.8;
}

footer .content section .buttons ul
{
    margin: 0;
    padding: 0;
    font-size: 16px;
    display: flex;
    gap: 40px;
    list-style: none;
}

footer .content section .buttons ul li
{
    color: #ffffff;
    padding: 0;
    font-size: 16px;
    display: flex;
    gap: 40px;
    list-style: none;
    cursor: pointer;
}

footer .content aside
{
    display: flex;
    flex-direction: column;
    gap: 45px;
}

footer .content aside .arrow-up-icon2,
footer .content aside .logo-icon1
{ 
    cursor: pointer;
}