body
{
    /* Временное изображение */
    background: url(img/20250125_000904.jpg);
}

.background
{
    position: absolute;

    width: 100vw;
    height: 100vh;

    background: var(--greenBottom);
    z-index: -1;
}

.container
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    width: 80vw;
    height: 50vh;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    color: white;
}

.loginContainer
{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background: var(--grayDiag);

    border-radius: 9px;
}

.left form
{
    display: flex;
    flex-direction: column;

    justify-content: center;
}

.left input
{
    padding: 0.8rem;
    width: 100%;
}

.left form .buttons
{
    display: flex;
    flex-direction: row;

    
}