*{box-sizing: border-box;}

@font-face
{
    font-family: 'Roboto';
    src: url(../fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

@font-face
{
    font-family: 'Inter';
    src: url(../fonts/Inter-VariableFont_opsz\,wght.ttf);
}

body
{
    width: 100%;
    height: 100vh;
    margin: 0;
    color: #EEEEEE;
    background: #222831 linear-gradient(90deg, #00000000, rgba(136, 255, 61, 0.1));
    font-family: 'Roboto';
    position: relative;
    overflow: hidden;
}

nav
{
    width: 100%;
    height: 63px;
    background: linear-gradient(90deg, #373C43, #25282D);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav section
{
    display: flex;
    margin-left: 1%;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

nav section .menu ul
{
    font-size: 16px;
    padding: 0;
    display: flex;
    gap: 40px;
    list-style: none;
}

nav section .menu ul li
{
    cursor: pointer;
}

nav section .menu ul li:hover
{
    color: #7BC74D;
}

nav section .search-stroke
{
    width: 500px;
    height: 39px;
    display: flex;
    align-items: center;
    background: #393E46;
    border-radius: 20px;
    padding-left: 15px;
}

nav section .search-stroke img
{
    margin-right: 12px;
    opacity: 75%;
}

nav section .search-stroke input
{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #EEEEEE;
    font-size: 16px;
    padding: 0;
}

nav section .search-stroke input::placeholder
{
    color: rgba(238, 238, 238, 0.75);
    font-size: 16px;
    font-family: 'Roboto';
}

nav section .search-stroke input::-webkit-search-cancel-button
{
    display: none;
}

nav section .logo-icon2
{
    display: flex;
    align-items: center;
    cursor: pointer;
}

nav aside
{
    display: flex;
    margin-right: 1%;
    flex-direction: row;
    gap: 15px;
}

nav aside .nav-icons
{
    display: flex;
    gap: 15px;
    align-items: center;
}

nav aside .nav-icons svg
{
    stroke: #EEEEEE;
    cursor: pointer;
}

nav aside .nav-icons svg:nth-child(3)
{
    cursor: default;
}

nav aside .nav-icons svg:hover
{
    stroke: #7BC74D;
}

nav aside .nav-buttons
{
    display: flex;
    gap: 15px;
}

nav aside .nav-buttons .Sign-in-button
{
    width: 72px;
    height: 39px;
    color: #EEEEEE;
    background-color: #393E46;
    border: none;
    border-radius: 4.1px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

nav aside .nav-buttons .Sign-in-button:hover
{
    background-color: #61676b;
}

nav aside .nav-buttons .Download-button
{
    width: 97px;
    height: 39px;
    color: #222831;
    background-color: #7BC74D;
    border: none;
    border-radius: 4.1px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

nav aside .nav-buttons .Download-button:hover
{
    color: #EEEEEE;
    background: #95ce6a;
}

main
{
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
}

main .content
{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .content header .title-and-price
{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}

main .content header .title-and-price .My-Cart-title
{
    width: 50%;
    height: 120px;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #ffffff;
}

main .content header .title-and-price .My-Cart-title h1
{
    font-weight: 800;
    margin: 0;
}

main .content header .title-and-price .price-stroke
{
    width: 50%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: end;
}

main .content header .title-and-price .price-stroke p
{
    margin: 0;
}

main .content header .price-stroke p
{
    width: 94px;
    height: 31px;
    color: #EEEEEE;
    background: rgba(96, 105, 118, 0.2);
    border: 1px solid;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .content section
{
    width: 75%;
    height: 747px;
}

main .content section .purchase-box
{
    width: 100%;
    height: 200px;
    background: #393E46;
    border-radius: 7px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 2%;
}

main .content #purchase-stroke
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main .content section .purchase-box .image
{
    display: flex;
    align-items: center;
}

main .content section .purchase-box .image img
{
    width: 125px;
}

main .content section .purchase-box .info
{
    width: 100%;
    height: 166.66px;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .content section .purchase-box .info .category
{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

main .content section .purchase-box .info .os-icons-and-move-buttons
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main .content section .purchase-box .info .os-icons-and-move-buttons .os-icons
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

main .content section .purchase-box .info .os-icons-and-move-buttons .os-icons img
{
    opacity: 80%;
}

main .content section .purchase-box .info .os-icons-and-move-buttons .move-buttons
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
}

main .content section .purchase-box .info .os-icons-and-move-buttons .move-buttons button
{
    color: rgba(238, 238, 238, 0.8);
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    background: none;
    border: none;
    cursor: pointer;
}

main .content section .purchase-box .info .os-icons-and-move-buttons .move-buttons button:hover
{
    color: #7BC74D;
}

main .content section .purchase-box .info .category
{
    display: flex;
    align-items: center;
}

main .content section .purchase-box .info .category p
{
    width: 76px;
    height: 22px;
    font-size: 12px;
    background: #4E555F;
    border-radius: 4.1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .content section .purchase-box .info .title
{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 2%;
}

main .content section .purchase-box .info .reviews p:nth-child(2)
{
    color: #7BC74D;
}

main .content section .purchase-box .info .reviews
{
    margin-bottom: 1%;
}

main .content section .purchase-box .info .date
{
    margin-bottom: 2%;
}

main .content section .purchase-box .info .reviews,
main .content section .purchase-box .info .date
{
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main .content section .purchase-box .info .reviews p,
main .content section .purchase-box .info .date p
{
    margin: 0;
}

main .content aside
{
    width: 23%;
    height: 747px;
}

main .content aside .full-check
{
    height: 200px;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .content aside .full-check .total-stroke
{
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main .content aside .full-check .total-stroke p
{
    margin: 0;
}

main .content aside .full-check .total-stroke p:nth-child(1)
{
    font-weight: 500;
}

main .content aside .full-check .tax-stroke
{
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main .content aside .full-check .tax-stroke p
{
    margin: 0;
}

main .content aside .full-check .description p
{
    margin: 0;
    color: rgba(238, 238, 238, 0.8);
    font-size: 14px;
}

main .content aside .full-check .Check-Out-button button
{
    width: 100%;
    height: 47px;
    color: #222831;
    background: #7BC74D;
    border: none;
    border-radius: 4.1px;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

main .content aside .full-check .Check-Out-button button:hover
{
    color: #EEEEEE;
    background: #95ce6a;
}

footer
{
    width: 100%;
    height: 270px;
    background: #373C43 linear-gradient(90deg, rgb(123, 199, 77, 0.1), #7cc74d00, rgb(123, 199, 77, 0.1));
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .content
{
    width: 60%;
    height: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .content section
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .content section .social-media-icons
{
    display: flex;
    gap: 20px;
}

footer .content section .social-media-icons svg
{
    fill: #EEEEEE;
    cursor: pointer;
}

footer .content section .social-media-icons svg:hover
{
    fill: #7BC74D;
}

footer .content section .credits p
{
    margin: 0;
    font-size: 14px;
    opacity: 0.8;
}

footer .content section .buttons ul
{
    margin: 0;
    padding: 0;
    font-size: 16px;
    display: flex;
    gap: 40px;
    list-style: none;
}

footer .content section .buttons ul li
{
    color: #ffffff;
    padding: 0;
    font-size: 16px;
    display: flex;
    gap: 40px;
    list-style: none;
    cursor: pointer;
}

footer .content section .buttons ul li:hover
{
    color: #7BC74D;
}

footer .content aside
{
    display: flex;
    flex-direction: column;
    gap: 45px;
}

footer .content aside .arrow-up-icon2
{
    cursor: pointer;
    stroke: #EEEEEE;
}

footer .content aside .logo-icon1
{
    cursor: pointer;
}

footer .content aside .arrow-up-icon2:hover
{
    stroke: #7BC74D;
}

#payment-window
{
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 8;
    display: none;
}

#payment-window.active
{
    display: flex;
}

#payment-window .main-window
{
    width: 1200px;
    height: 700px;
    background: #393E46;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    position: relative;
    display: flex;
    flex-direction: row;
}

#payment-window .main-window .payment-option
{
    width: 100%;
    background: #222831;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #222831;
    transition: all 0.3s ease;
    overflow: hidden;
}

#payment-window .main-window .payment-option .method-details
{
    display: none; 
    padding: 20px 25px;
    border-top: 5px solid #393E46;
}

#payment-window .main-window .payment-option.active .method-details
{
    display: block;
}

#payment-window .main-window .payment-option.active .method-details .error-message
{
    display: none;
    color: #C74D4D;
    font-size: 16px;
    margin-left: 5px;
}

#payment-window .main-window .payment-option.active .method-details .input-field.invalid input
{
    border: 1px solid #C74D4D;
}

#payment-window .main-window .payment-option.active .method-details .input-field.invalid .error-message
{
    display: inline;
}

#payment-window .main-window .payment-option.active .method-details .details-title
{
    color: #EEEEEE;
}

#payment-window .main-window .payment-option.active .method-details .row .input-field
{
    width: 50%;
}

#payment-window .main-window .payment-option.active .method-details .input-field p
{
    margin: 0 0 5px 0;
    color: rgba(238, 238, 238, 0.8);
}

#payment-window .main-window .payment-option.active .method-details .input-field input
{
    width: 100%;
    background: rgba(96, 105, 118, 0.4);
    border: 1px solid #606976;
    height: 40px;
    padding: 0 10px;
    color: white;
    border-radius: 4px;
    margin: 0 0 15px 0;
}


#payment-window .main-window .payment-option.active .method-details .save-method .tick
{
    left: 4px;
    top: 55%;
    transform: translateY(-50%);
    position: absolute;
    pointer-events: none;
    z-index: 10;
}

#payment-window .main-window .payment-option.active .method-details .save-method input:checked
{
    border: 1px #222831 solid;
    background-color: rgb(238, 238, 238);
}

#payment-window .main-window .payment-option.active .method-details .row
{
    display: flex;
    gap: 4%;
    width: 100%;
}

#payment-window .main-window .payment-option.active .method-details .row input
{
    width: 100%;
}

#payment-window .main-window .payment-option.active .save-method .question
{
    color: #eeeeee;
}

#payment-window .main-window .payment-option.active .save-method .conditions
{
    color: rgba(238, 238, 238, 0.7);
    font-size: 12px;
    line-height: 15px;
    margin: 0;
}

#payment-window .main-window .payment-option.active .save-method .checkbox-and-question
{
    display: flex;
    align-items: center;
    margin: 15px 0;
    position: relative;
}

#payment-window .main-window .payment-option.active .save-method .checkbox-and-question .method-check
{
    border: 1px #222831 solid;
    background: rgb(238, 238, 238);
}

#payment-window .main-window .payment-option.active .save-method .checkbox-and-question input
{
    appearance: none;
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border: 1px #EEEEEE solid;
    background: none;
    flex-shrink: 0;
    border-radius: 4px;
    margin: 0 20px 0 0;
    cursor: pointer;
    position: relative;
    margin: 0 20px 0 0;
}

#payment-window .main-window .payment-option.active .save-method .checkbox-and-question p
{
    margin: 0;
}

#payment-window .main-window .payment-option.active
{
    border-color: #7BC74D;
}

#payment-window .main-window section
{
    width: 60%;
    padding: 30px 10px 30px 20px;
}

#payment-window .main-window section p
{
    color: #ffffff;
    margin: 0 0 20px 0;
}

#payment-window .main-window .tick
{
    left: 29px; 
    top: 50%;
    transform: translateY(-50%);
    display: none;
    position: absolute;
    pointer-events: none;
    z-index: 10;
}

#payment-window .main-window input[type="checkbox"]:checked + .tick
{
    display: block;
}

#payment-window .main-window section #Visa-option .method-header
{
    width: 100%;
    height: 50px;
    background: #222831;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;
    padding: 0 25px;
    position: relative;
}

#payment-window .main-window section #Visa-option .method-header p,
#payment-window .main-window section #Master-card-option .method-header p
{
    margin: 0;
}

#payment-window .main-window section #Master-card-option .method-header
{
    width: 100%;
    height: 50px;
    background: #222831;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3%;
    padding: 0 25px;
    position: relative;
}

#payment-window .main-window section input
{
    appearance: none;
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border: 1px #393E46 solid;
    background-color: rgba(238, 238, 238, 0.5);
    flex-shrink: 0;
    border-radius: 4px;
    margin: 0;
    cursor: pointer;
    display: flex;
}

#payment-window .main-window section input:checked
{
    border: 1px #393E46 solid;
    background-color: #7BC74D;
}

#payment-window .main-window aside
{
    width: 40%;
    padding: 30px 20px 30px 10px;
    display: flex;
    flex-direction: column;
}

#payment-window .main-window aside .title-and-text
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px 0;
}

#payment-window .main-window aside .title-and-text p
{
    color: #ffffff;
    margin: 0;
}

#payment-window .main-window aside .title-and-text svg
{
    stroke: #EEEEEE;
    cursor: pointer;
}

#payment-window .main-window aside .title-and-text svg:hover
{
    stroke: #7BC74D;
}

#payment-window .main-window aside .main-informaton
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#payment-window .main-window aside .main-informaton .purchases-and-text
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#payment-window .main-window aside .main-informaton .information
{
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

#payment-window .main-window aside .main-informaton .information p
{
    margin: 0;
}

#payment-window .main-window aside .main-informaton .information .title
{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

#payment-window .main-window aside .main-informaton .information .developer
{
    font-size: 16px;
    color: rgb(238, 238, 238, 0.7);
    margin: 0;
}

#payment-window .main-window aside .main-informaton .information .price
{
    font-size: 14px;
    color: rgb(238, 238, 238, 0.7);
    margin: 0;
}

#payment-window .main-window aside .main-informaton .total-price-and-taxes1
{
    height: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#payment-window .main-window aside .main-informaton .total-price-and-taxes1 .total-price
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#payment-window .main-window aside .main-informaton .total-price-and-taxes1 .total-price p
{
    font-size: 16px;
    color: rgb(238, 238, 238, 0.7);
    margin: 0;
}

#payment-window .main-window aside .main-informaton .total-price-and-taxes1 .taxes1
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#payment-window .main-window aside .main-informaton .total-price-and-taxes1 .taxes1 p
{
    font-size: 16px;
    color: rgb(238, 238, 238, 0.7);
    margin: 0;
}

#payment-window .main-window aside .main-informaton .taxes2
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#payment-window .main-window aside .main-informaton .taxes2 p
{
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

#payment-window .main-window aside .main-informaton .agreement
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: relative;
}

#payment-window .main-window aside .main-informaton .agreement input
{
    appearance: none;
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border: 1px #EEEEEE solid;
    background-color: none;
    flex-shrink: 0;
    border-radius: 4px;
    margin: 0 20px 0 0;
    cursor: pointer;
    position: relative;
}

#payment-window .main-window aside .main-informaton .agreement .tick
{
    left: 4px; 
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    pointer-events: none;
    z-index: 10;
}

#payment-window .main-window aside .main-informaton .agreement input:checked
{
    border: 1px #222831 solid;
    background-color: rgb(238, 238, 238);
}

#payment-window .main-window aside .main-informaton .agreement p
{
    font-size: 14px;
    color: rgb(238, 238, 238, 0.7);
    margin: 0;
}

#payment-window .main-window aside .main-informaton .conditions
{
    font-size: 12px;
    color: rgb(238, 238, 238, 0.7);
    margin: 0;
}

#payment-window .main-window aside .main-informaton .conditions u
{
    cursor: pointer;
}

#payment-window .main-window aside .main-informaton button
{
    width: 100%;
    height: 12%;
    background: #606976;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#payment-window .main-window aside .main-informaton button.ready
{
    background: linear-gradient(90deg, #7BC74D, #82CA77);
    color: #222831;
    cursor: pointer;
}

#payment-window .main-window aside .main-informaton button p
{
    color: rgba(34, 40, 49, 0.8);
    font-size: 14px;
    font-weight: bold;
}

#payment-window .main-window aside .main-informaton hr
{
    height: 1px;
    margin: 0;
    border: none;
    background: rgba(238, 238, 238, 0.3);
}

#payment-window.success .main-window
{
    display: none;
}

#payment-window.success .gratitude-window
{
    display: flex;
}

#payment-window .gratitude-window
{
    width: 1200px;
    height: 700px;
    background: linear-gradient(#373C43, #25282D);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 26px;
    display: none; 
}

#payment-window .gratitude-window img
{
    width: 79px;
}

#payment-window .gratitude-window .text1
{
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

#payment-window .gratitude-window .text2
{
    color: rgba(238, 238, 238, 0.8);
    font-size: 16px;
    margin: 0;
}

#payment-window .gratitude-window .text3
{
    color: rgba(238, 238, 238, 0.8);
    font-size: 16px;
    margin: 0;
}

#payment-window .blurred-background
{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
    z-index: 9;
    position: absolute;
}